<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
	
	<property name="hbm2ddl.auto">create</property>
	
	<!-- mapeo de entidades -->
		
		<mapping class="model.Cliente" />
		<mapping class="model.Cuenta" />
		<mapping class="model.Factura" />
		
		<mapping class="model.Detalle" />
		<mapping class="model.Precio" />
		<mapping class="model.Producto" />
		<mapping class="model.Provedor" />
	
	</session-factory>
		

</hibernate-configuration>
	
